font-family: 'Special Elite', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Raleway', sans-serif;

.body {
  border: 3px solid black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.headerimage {
  margin-left: 50px;
}

.main .main-left {
  width: 40%;
  float: left;
  position: relative;
  text-align: justify;
  margin-left: 80px;
  padding-left: 80px;
}

.main .main-right {
  width: 40%;
  float: left;
  margin-left: 20px;
  position: inherit;
  text-align: justify;
  padding-top: 214px;


}

h5 {
  font-family: 'Special Elite', cursive;
  font-size: 16px;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 42px;
}

h2 {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Arvo', serif;
  font-size: 16px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.footer-numeral {
  clear: both;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 20px;
  width: 100%;
}

















.span {
  unicode-bidi: #U+1F3F6;
}
